.cardbox{
    
    height:auto;
 
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 100000;
    position: relative;
    margin-left: 150px;
}

.cardbox::-webkit-scrollbar{
    display: none;
}