@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');

.header{
    min-height: 100vh;
    width: 100%;
    position: relative;
   cursor: pointer;
    text-align: center;
    box-sizing: border-box;
   padding-top: 35vh;
   box-sizing: border-box;
  
}




.main_2{
 
   
    font-family: 'Oswald', sans-serif;
    font-size: 110px;
    letter-spacing: 3px;
    font-weight: 300;
    color: white;
   display: inline-block;
    z-index: 100000;
    position: relative;
    margin-top: 0px; 
    animation: identifier 1s;
}

.msg{
   width: 100%;
    color: white;
    z-index: 100000;
    position: relative;
    display: block;
    text-decoration: none;
    animation: identifier 1s;
    margin-top: -17vh;


}
@keyframes identifier {
    from {
         opacity: 0;
         transform: translateY(25vh);
    }   to{
        opacity: 1;
        transform: translateY(0vh);
    
    } 
    }





    
@media only screen and (max-width:500px){
  
    .main_2{

   
        font-family: 'Oswald', sans-serif;
        font-size: 75px;
        
        letter-spacing: 3px;
        font-weight: 300;
        color: white;
       display: inline-block;
        z-index: 100000;
        position: relative;
        margin-top: 10px;       
        animation: identifier 1s;
    }

    .msg{

        color: white;
        z-index: 100000;
        position: relative;
        display: block;
        text-decoration: none;
        animation: identifier 1s;
        margin-top: -7vh;
    }
    @keyframes identifier {
        from {
             opacity: 0;
             transform: translateY(25vh);
        }   to{
            opacity: 1;
            transform: translateY(0vh);
        
        } 
        }

}


    
@media only screen and (max-width:370px){
  
    .main_2{

   
        font-family: 'Oswald', sans-serif;
        font-size: 45px;
        
        letter-spacing: 3px;
        font-weight: 300;
        color: white;
       display: inline-block;
        z-index: 100000;
        position: relative;
        margin-top: 10px;       
        animation: identifier 1s;
    }

}