.App {
  width:100%;
}

.background-image{
  width:100%;
  height:100vh;
  position:fixed;
  top:0px;
  left:0px;
  box-sizing: border-box;
}

.aapp{
  width:100%;
}


@media screen and (max-width: 370px) {

  .background-image{
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    box-sizing: border-box;
  }
}